In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("01_bbdd_think_tanks_no_stopwords.xlsx")

In [3]:
df['Tipo de Think Tank'] = df['Tipo de Think Tank'].replace({'Universidad': 'Universidades'})

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31647 entries, 0 to 31646
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    31647 non-null  int64
 1   Think Tank            31647 non-null  object
 2   Tipo de Think Tank    31647 non-null  object
 3   Orientación Política  31647 non-null  object
 4   Autor                 14186 non-null  object
 5   Título                31629 non-null  object
 6   Medio                 5811 non-null   object
 7   Corpus                30238 non-null  object
 8   Producto              18530 non-null  object
 9   Enlace                31638 non-null  object
 10  CorpusPDF             749 non-null    object
 11  FechaPublicacion      31477 non-null  datetime64[ns]
 12  Año                   31477 non-null  float64
 13  Mes                   31477 non-null  float64
 14  Dia                   31477 non-null  float64
 15  Texto                 31647 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(1), object(11)
memory usage: 3.9+ MB

In [6]:
df.to_parquet("01_bbdd_think_tanks_no_stopwords.parquet")